# 《利用Python进行数据分析》
## 第三章 内建数据结构、函数及文件

### 元组 tuple
- 输出内容用"()"包裹
- 用多个"()"表达元组的元组
- tuple函数，将任意序列逳字符串转换为元组
- 通过"[]"提取元组中指定位置的元素
- 元组创建后，无法给元组中的元素赋值，但可以修改元素本身
- 用"+"连接元组，以生成更长的元组
- 元组"*整数"，不改变对象，但生成含有多份拷贝的元组
- 元组拆包，适用于for循环中遍历序列，或从函数返回多个值
- 高级拆包，从起始位置采集一些元素，同时采集不需要的部分"*_"
- 元组.xx的实例方法比较少，因为内容和长度不能变更
- "tup.count(x)"统计某个数值在元组中出现的次数

In [15]:
tup1 = 4, 5, 6
tup2 = 7, 8
nested_tup = ((4, 5, 6), (7, 8))

In [16]:
tup1 # 元组

(4, 5, 6)

In [17]:
nested_tup # 元组的元组

((4, 5, 6), (7, 8))

In [19]:
tup3 = tuple("Shiyu")
tup4 = tuple([2, 3, 4])

In [20]:
tup3 # 将string转为元组

('S', 'h', 'i', 'y', 'u')

In [21]:
tup4

(2, 3, 4)

In [22]:
tup3[1]

'h'

In [23]:
tup3[1] = 'z'

TypeError: 'tuple' object does not support item assignment

In [29]:
tup5 = ('foo', [1, 2, 3], True)
tup5[1]

[1, 2, 3]

In [30]:
tup5[1].append(7)
tup5

('foo', [1, 2, 3, 7], True)

In [33]:
tup1+tup2+tup3

(4, 5, 6, 7, 8, 'S', 'h', 'i', 'y', 'u')

In [32]:
tup1*3

(4, 5, 6, 4, 5, 6, 4, 5, 6)

In [43]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(a, b, c)
    print('a={0}, b={1}, c={2}'.format(a, b, c))

1 2 3
a=1, b=2, c=3
4 5 6
a=4, b=5, c=6
7 8 9
a=7, b=8, c=9

In [38]:
a, b, c = seq[1]
print(a, b, c)

4 5 6

In [44]:
values = 1, 2, 3, 4, 5
a, b, *_ = values
a, b

(1, 2)

In [45]:
_

[3, 4, 5]

In [46]:
values.count(2)

1

### 列表 list
#### 基础定义
- 用"[]"定义列表
- 列表创建后，内容可以修改，长度也可变
- 用"list"函数，将tuple转换为list
- list函数常用于将迭代器或生成器转化为列表

In [48]:
tup1 = ('foo', 'alpha', 'delta')
tup1

('foo', 'alpha', 'delta')

In [49]:
b_list = list(tup1)
b_list

['foo', 'alpha', 'delta']

In [51]:
b_list[0] = 'omicron'
b_list

['omicron', 'alpha', 'delta']

In [52]:
generator1 = range(10)
generator1

range(0, 10)

In [53]:
list(generator1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### 实例方法
- 用append增加元素，用insert(n, xx)在指定位置n插入元素
- 用pop(n)删除指定位置元素，用remove(xx)删除第一个满足条件的元素
- 用 xx in list检查某个值是否在列表中，用not in检查是否不在列表中

In [56]:
b_list.append('covid')
b_list

['omicron', 'alpha', 'delta', 'covid']

In [57]:
b_list.insert(1, 'omega')
b_list

['omicron', 'omega', 'alpha', 'delta', 'covid']

In [58]:
b_list.pop(1)
b_list

['omicron', 'alpha', 'delta', 'covid']

In [59]:
b_list.append('covid')
b_list

['omicron', 'alpha', 'delta', 'covid', 'covid']

In [60]:
b_list.remove('covid')
b_list

['omicron', 'alpha', 'delta', 'covid']

In [61]:
'omicron' in b_list

True

In [62]:
'beta' not in b_list

True

#### 运算